pygame==2.0.1
pygeocoder==1.2.5
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pymongo==3.11.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyproj==2.6.1.post1
pyrsistent @ file:///opt/concourse/worker/volumes/live/d7ed6755-1956-4a16-5499-c03638db758d/volume/pyrsistent_1600141722278/work
PySocks==1.7.1
pyspark==2.4.0
pystan==2.19.0.0
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2019.3
PyWavelets @ file:///opt/concourse/worker/volumes/live/7b9ed5cc-fdd2-4389-679d-2674cfabb40a/volume/pywavelets_1601658333093/work
PyYAML==5.3.1
pyzmq==19.0.2
regex @ file:///opt/concourse/worker/volumes/live/a70aa475-ce0d-458c-6f7c-8e0ce34c1844/volume/regex_1606772986255/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
reverse-geocode==1.4.1
rsa==4.6
Rtree==0.9.4
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn @ file:///opt/concourse/worker/volumes/live/5aebc36a-9e26-4cf4-48a2-103c2e39086d/volume/scikit-learn_1598376928019/work
scikit-surprise==1.1.1
scipy==1.5.0
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Send2Trash==1.5.0
setuptools-git==1.2
Shapely @ file:///opt/concourse/worker/volumes/live/47a7c1ce-0fd2-4c0f-4bf3-3332e9b93955/volume/shapely_1599817150522/work
simplegeneric==0.8.1
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
statsmodels==0.11.1
stringcase==1.2.0
tabulate==0.8.7
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2020.10.1
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
torch==1.5.1
torchaudio==0.7.0a0+ac17b64
torchvision==0.2.2
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
traitlets==4.3.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
u8darts==0.5.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
validators==0.18.1
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
xgboost==0.90
xlrd==1.2.0
yacs==0.1.6
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
